{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ "contact.title" | trans }}{% endblock%}

{% block body %}
    <header>
        <h1>{{ "contact.contact_us" | trans }}</h1>
    </header>

    {% if app.session.hasFlash('blogger-notice') %}
        <div class="blogger-notice">
            {{ app.session.flash('blogger-notice') }}
        </div>
    {% endif %}

    <p>{{ "contact.want_to_contact_us" | trans }}</p>

    <form action="{{ path('BloggerBlogBundle_contact') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="{{ "contact.submit_contact_form" | trans }} " />
    </form>

{% endblock %}

